@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root{height:100%}
body{@apply bg-pskLight text-gray-800}

/* small utility */
.container{max-width:1100px;margin:0 auto;padding:1rem}
